dbunit/src/test/resources/dtd/flatXmlTableTest.dtd

<!ELEMENT dataset (
    TEST_TABLE*,
    MISSING_VALUES*,
    MISSING_VALUES_SENSING*,
    TABLE_VALUE_METACHARS*
    )>

<!ELEMENT TEST_TABLE EMPTY>
<!ATTLIST TEST_TABLE
    COLUMN0 CDATA #REQUIRED
    COLUMN1 CDATA #REQUIRED
    COLUMN2 CDATA #REQUIRED
    COLUMN3 CDATA #REQUIRED
>

<!ELEMENT MISSING_VALUES EMPTY>
<!ATTLIST MISSING_VALUES
    COLUMN0 CDATA #IMPLIED
    COLUMN1 CDATA #IMPLIED
    COLUMN2 CDATA #IMPLIED
>

<!ELEMENT MISSING_VALUES_SENSING EMPTY>
<!ATTLIST MISSING_VALUES_SENSING
    COLUMN0 CDATA #IMPLIED
    COLUMN1 CDATA #IMPLIED
    COLUMN2 CDATA #IMPLIED
    COLUMN3 CDATA #IMPLIED
>

<!ELEMENT TABLE_VALUE_METACHARS EMPTY>
<!ATTLIST TABLE_VALUE_METACHARS
    COLUMN0 CDATA #IMPLIED
>


