src/dtd/dataset.dtd

<?xml version='1.0' encoding='UTF-8' ?>

<!--Generated by XML Authority-->

<!ELEMENT dataset (table+)>

<!ELEMENT table (column* , row*)>

<!ATTLIST table  name CDATA  #REQUIRED >
<!ELEMENT column (#PCDATA)>

<!ELEMENT row (value | null | none)*>

<!ELEMENT value (#PCDATA)>

<!ELEMENT null EMPTY>

<!ELEMENT none EMPTY>

