src/dtd/flatDtdDataSetDuplicateMultipleCaseTest.dtd

<!ELEMENT dataset (
    DUPLICATE_TABLE*,
    EMPTY_TABLE*,
    duplicate_TABLE)>

<!ELEMENT EMPTY_TABLE EMPTY>
<!ATTLIST EMPTY_TABLE
    COLUMN0 CDATA #IMPLIED
    COLUMN1 CDATA #IMPLIED
    COLUMN2 CDATA #IMPLIED
    COLUMN3 CDATA #IMPLIED
>

<!ELEMENT DUPLICATE_TABLE EMPTY>
<!ATTLIST DUPLICATE_TABLE
    COLUMN0 CDATA #IMPLIED
    COLUMN1 CDATA #IMPLIED
    COLUMN2 CDATA #IMPLIED
    COLUMN3 CDATA #IMPLIED
>

<!ELEMENT duplicate_TABLE EMPTY>
<!ATTLIST duplicate_TABLE
    COLUMN0 CDATA #IMPLIED
    COLUMN1 CDATA #IMPLIED
    COLUMN2 CDATA #IMPLIED
    COLUMN3 CDATA #IMPLIED
>


