src/dtd/flatXmlTableTest.dtd

<!ELEMENT dataset (
    TEST_TABLE*,
    MISSING_VALUES*)>

<!ELEMENT TEST_TABLE EMPTY>
<!ATTLIST TEST_TABLE
    COLUMN0 CDATA #REQUIRED
    COLUMN1 CDATA #REQUIRED
    COLUMN2 CDATA #REQUIRED
    COLUMN3 CDATA #REQUIRED
>

<!ELEMENT MISSING_VALUES EMPTY>
<!ATTLIST MISSING_VALUES
    COLUMN0 CDATA #IMPLIED
    COLUMN1 CDATA #IMPLIED
    COLUMN2 CDATA #IMPLIED
>

