src/dtd/flatDtdDataSetTest.dtd

<!ELEMENT dataset (
    TEST_TABLE*,
    SECOND_TABLE*,
    EMPTY_TABLE*,
    PK_TABLE*,
    ONLY_PK_TABLE*,
    EMPTY_MULTITYPE_TABLE*)>

<!ELEMENT TEST_TABLE EMPTY>
<!ATTLIST TEST_TABLE
    COLUMN0 CDATA #IMPLIED
    COLUMN1 CDATA #IMPLIED
    COLUMN2 CDATA #IMPLIED
    COLUMN3 CDATA #IMPLIED
>

<!ELEMENT SECOND_TABLE EMPTY>
<!ATTLIST SECOND_TABLE
    COLUMN0 CDATA #IMPLIED
    COLUMN1 CDATA #IMPLIED
    COLUMN2 CDATA #IMPLIED
    COLUMN3 CDATA #IMPLIED
>

<!ELEMENT EMPTY_TABLE EMPTY>
<!ATTLIST EMPTY_TABLE
    COLUMN0 CDATA #IMPLIED
    COLUMN1 CDATA #IMPLIED
    COLUMN2 CDATA #IMPLIED
    COLUMN3 CDATA #IMPLIED
>

<!ELEMENT PK_TABLE EMPTY>
<!ATTLIST PK_TABLE
    PK0 CDATA #REQUIRED
    PK1 CDATA #REQUIRED
    PK2 CDATA #REQUIRED
    NORMAL0 CDATA #IMPLIED
    NORMAL1 CDATA #IMPLIED
>

<!ELEMENT ONLY_PK_TABLE EMPTY>
<!ATTLIST ONLY_PK_TABLE
    PK0 CDATA #REQUIRED
>

<!ELEMENT EMPTY_MULTITYPE_TABLE EMPTY>
<!ATTLIST EMPTY_MULTITYPE_TABLE
    VARCHAR_COL CDATA #IMPLIED
    NUMERIC_COL CDATA #IMPLIED
    TIMESTAMP_COL CDATA #IMPLIED
    VARBINARY_COL CDATA #IMPLIED
>

