dbunit/src/dtd/flatDtdProducerTest.dtd

<!ELEMENT dataset (
    DUPLICATE_TABLE*,
    SECOND_TABLE*,
    TEST_TABLE*,
    NOT_NULL_TABLE*,
    EMPTY_TABLE*)>

<!ELEMENT TEST_TABLE EMPTY>
<!ATTLIST TEST_TABLE
    COLUMN0 CDATA #IMPLIED
    COLUMN1 CDATA #IMPLIED
    COLUMN2 CDATA #IMPLIED
    COLUMN3 CDATA #IMPLIED
>

<!ELEMENT SECOND_TABLE EMPTY>
<!ATTLIST SECOND_TABLE
    COLUMN0 CDATA #IMPLIED
    COLUMN1 CDATA #IMPLIED
    COLUMN2 CDATA #IMPLIED
    COLUMN3 CDATA #IMPLIED
>

<!ELEMENT DUPLICATE_TABLE EMPTY>
<!ATTLIST DUPLICATE_TABLE
    COLUMN0 CDATA #IMPLIED
    COLUMN1 CDATA #IMPLIED
    COLUMN2 CDATA #IMPLIED
    COLUMN3 CDATA #IMPLIED
>

<!ELEMENT NOT_NULL_TABLE EMPTY>
<!ATTLIST NOT_NULL_TABLE
    COLUMN0 CDATA #REQUIRED
    COLUMN1 CDATA #REQUIRED
    COLUMN2 CDATA #REQUIRED
    COLUMN3 CDATA #REQUIRED
>

<!ELEMENT EMPTY_TABLE EMPTY>
<!ATTLIST EMPTY_TABLE
    COLUMN0 CDATA #IMPLIED
    COLUMN1 CDATA #IMPLIED
    COLUMN2 CDATA #IMPLIED
    COLUMN3 CDATA #IMPLIED
>
